<!DOCTYPE html>
<html lang = "en-us">
<head>
<meta charset="UTF-8">
<title>User Register</title>
    
    <style type="text/css">
    	div.error {
    		color: red;
    	}
    	
    	.profile_wrapper {
    		width: 100px;
    		height: 100px;
    		border: 1px solid black;
    	}
    </style>
    
    <script type="text/javascript">
    
    	function showErrorLogs(error) {
    		var ol = document.querySelector("div.error > ol");
    		var div = document.querySelector("div.error");
    		if(!ol) {
    			ol = document.createElement("ol");
    			div.appendChild(ol);
    		}
   			var li = document.createElement("li");
   			li.innerHTML = error;
   			ol.appendChild(li);
    	}
    	
    	function clearErrorLog() {
    		var div = document.querySelector("div.error");
    		var img = document.getElementById("preview");
    		div.innerHTML = "";
    		img.src = "";
    	}
    	
    	function showimg(input) {
    		var file = input.files[0];
    		var reader = new FileReader();
    		var maxsize = 2*1024*1024; // 2m
    		if(!file || file.size > maxsize) {
    			return;
    		}
    		if(!/\.(jpg|png|gif|jpeg)$/gi.test(file.name)) {
    			return;
    		}
    		reader.onloadend = function () {
    			var img = document.getElementById("preview");
    			img.src = reader.result;
    		}
    		if(file) {
    			reader.readAsDataURL(file);
    		}
    	}
    	
    	function validateInput(){
    		clearErrorLog();
    		var uname = document.forms["myForm"]["uname"].value;
    		var pwd = document.forms["myForm"]["pwd"].value;
    		var cpwd = document.forms["myForm"]["cpwd"].value;
    		var em = document.forms["myForm"]["e-mail"].value;
    		var cell = document.forms["myForm"]["cell"].value;
    		var gender = document.forms["myForm"]["gender"].value;
      		var age = document.forms["myForm"]["byear"].value;
      		var file = document.forms["myForm"]["profileIcon"].files[0];
      		
      		var maxsize = 2*1024*1024; // 2m
      		var error = true;
      		
    		if(file && file.size > maxsize) {
    			showErrorLogs("File Should Exist and The size should less than 2M");
    			error = false;
    		}
    		if(file && !/\.(jpg|png|gif|jpeg)$/gi.test(file.name)) {
    			showErrorLogs("The profileImage should be  a Image");
    			error = false;
    		}
      		
    		if(uname == "" || uname == null){
    			showErrorLogs("User name can not be empty");
    			error = false;
    		}
    		if(pwd == "" || pwd == null ){
    			showErrorLogs("Password cannot be empty");
    			error = false;
    		}
    		else if(cpwd != pwd){
    			showErrorLogs("Two passwords do not match");
    			error = false;
    		}
    		if(em == "" || em == null){
    			showErrorLogs("E-Mail cannot be empty");
    			error = false;
    		}
    		if(cell == "" || cell == null){
    			showErrorLogs("Cellphone number cannot be empty");
    			error = false;
    		}
    		if(gender == "" || gender == null){
    			showErrorLogs("Gender should be selected");
    			error = false;
    		}
    		if(age == "" || age == null || !/^\d{4}$/gi.test(age.trim())){
    			showErrorLogs("Age can't be empty and must be number");
    			error = false;
    		}
    		if(!error) {
    			return false;
    		} else {
    			return true;
    		}
    	}
    	
    </script>
</head>
<body>
	<section id = "Register">
	<form name = "myForm" method="POST" action="Register.php" onsubmit = "return validateInput();" enctype="multipart/form-data">
		<header>
		<b>User please register here.</b><br>
		</header>
		
		
		<table>
			<tr>
				<td><b>User Name:</b></td>  
				<td><input type="text" id="uname" name="uname" size="25" value="{USER_NAME}"/></td>
			</tr>
			<tr>
				<td><b>Password:</b></td>  
				<td><input type="password" id="pwd" name="pwd" size="25" /></td>
			</tr>
			<tr>
				<td><b> Confirm Password:</b></td>  
				<td><input type="password" id="cpwd" name="cpwd" size="25"/></td>
			</tr>
			<tr>
				<td><b>E-Mail:</b></td>  
				<td><input type="email" id="e-mail" name="e-mail" size="25" value="{EMAIL}"/></td>
			</tr>
			<tr>
				<td><b>Cellphone:</b></td>  
				<td><input type="text" id="cell" name="cell" size="25" value="{CELLPHONE}"/></td>
			</tr>
			<tr>
				<td><b>Address:</b></td>  
				<td><input type="text" id="address" name="address" size="25" value="{ADDRESS}"/></td>
			</tr>
			<tr>
				<td><b>Year of Birth:</b></td>  
				<td><select name = "byear">{BYEAR}</select>
				</td>
			</tr>
			<tr>
				<td><b>Gender:</b></td>  
				<td>
					<input type="radio" name="gender" id="male" value="m" {CHECKED1}/> <label for="male">Male</label>
					<input type="radio" name="gender" id="female" value="f" {CHECKED2} /> <label for="female">Female</label>	
				</td>
			</tr>
			<tr>
				<td><b>Profile Image</b></td>  
				<td>
					<input type="file" id="profileId" onchange="showimg(this);"  name="profileIcon" size="25"/>
						<div class="profile_wrapper">
							<img  id="preview" width="100px" height="100px">
						</div>
				</td>
			</tr>
		</table>
			<input type="hidden" name="formsubmitted" value="TRUE" />
      		<button type="submit">Register</button>
	</form>

	<div class="error">
		{MESSAGE}
	</div>
	</section>
</body>
</html>