/* layout */

div {
	border-style: solid;
}

.left {
	float: left;
}

.right {
	float: right;	
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.wrapper {
/*  	padding: 15px;  */
}

.container_wrapper {
	height: 100%;
}

.desktop_wrapper {
	background-color: #FFFCFC;
	height: inherit;
}


.friendslist_wrapper {
	position: absolute;
	bottom:50px;
	right:0px;
	width:20%;
	height: 93.34%;
	background-color: #B156A6;
}

.toolbar_wrapper {
	position: absolute;
	background-color: #536894;
	height: 50px;
	width: 100%;
	bottom: 0;	
}

.toolbar {
	margin-left: 15px;
}

.toolbar article {
	border: 1px black solid;	
	border-color: white black black white;
	float: left;
	padding: 5px 10px;
	height: 38px;
	width: 50px;
	margin: 0 5px;
	position: relative;
	text-align: center;
	background-color: #568FAC;
	opacity: 0.5;
}

.toolbar article:hover {
	border: 1px white solid;
	cursor: pointer;
	opacity: 0.8;
}

.toolbar article img {
	height: 35px;
	width: 50px;
	display: block;
	margin: auto;
}

.toolbar article p {
	font-size: 8px;
	line-height: 10px;
}

.dialog_wrapper {
	position: absolute;
	background-color: #8C8D9E;
	height: 70%;
	width: 60%;
	left:10%;
	top: 15%;
	bottom: 15%;
	margin-top: -15px;
}

.chat_container {
/*   margin-top: -5px; */
  overflow: auto;
  height: 100%;
  background-color: grey;
  border-color: black;
  border-width: 0 2px 2px 2px;
  border-style: solid;
}

.upbar {
	width:100%;
	line-height: 20px;
	background-color: #EAEAFF;
	border: 2px solid #8AC007;
}

.item_container {
	position: relative;
}

.item_container li:hover {
	border: 1px white solid;
	border-width: 0 1px 0 1px;
	cursor: pointer;
}

.item {
	float: left; 
	padding: 0 5px;
}

.item.right {
	float: right;
	padding-right: 7px;
	background-color: #FF9933;
}


.profile_icon {
	width: 50px;
}

.profile_icon.left {
	margin-right: 5px;
	float: none;
}

.profile_icon.right {
	margin-left: 5px;
	float: none;
}

.profile_name {
	clear: both;
	display: block;
	text-align: center;
	word-wrap: break-word;
	max-width: 50px;
}

.profile_name.right {
	padding-left: 5px;
	float: none;
}

/*
 * Bubble Triangle
 */
 
.messagebox {
	padding: 5px;
	margin: 5px 5px 8px 5px;
}

 
.message {
	 min-width: 40%;
	 word-wrap: break-word;
 	 max-width: 65%;
 	 display: block;
 	 position: relative;
 	 margin-top: 10px;
 	 padding: 15px;
 	 -webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
	 border-radius: 10px;
  }

.message.left {
 	 background: linear-gradient(#075698, #2e88c4);
 	 margin-left: 15px;
 }
 
.message.left:after {
  content: ".";
  top:15px;
  left:-15px;
  position: absolute;
  border-width:5px 15px 5px 0; /* vary these values to change the angle of the vertex */
  border-color: transparent #075698;
  border-style: solid;
  width: 0;
  height: 0;
}

.message.right {
 	 background: linear-gradient(#FDFDFD, #FDFDFD);
 	 margin-right: 15px;
}
 
.message.right:after {
  content: ".";
  top:15px;
  right:-15px;
  position: absolute;
  border-width:5px 0px 5px 15px; /* vary these values to change the angle of the vertex */
  border-color: transparent #FDFDFD;
  border-style: solid;
  width: 0;
  height: 0;
}
 
 
 
 .message-box-right {
 	 background: linear-gradient(#075698, #2e88c4);
 }

/*   test        */
#content {width:100%; float:left; margin-right:-500px;}
#sidebar {width:500px; float:left;}

ul {list-style:none;}
li {line-height:1.3em;}
.col2 {margin-left:100px;}
.col3 {margin-left:200px;}
.top {margin-top:-2.6em;} /* the clincher */

