<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>DuckChat System 1.0</title>
		
		<link type="text/css" href="public/css/bootstrap-clean.css" rel="stylesheet">
		<link type="text/css" href="public/css/duckchat.css" rel="stylesheet">
		<link type="text/css" href="public/css/font-awesome.css" rel="stylesheet">
		
		<script type="text/javascript" src="public/js/lib/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="public/js/duckchat.js"></script>
		
		<script type="text/javascript">
		 	var duckchat = new DuckChat();
		 	duckchat.token = '{USER_TOKEN}';
		 	duckchat.id = '{USER_ID}';
		 	
		 	function show800() {
		 		if(window.innerWidth > 800) {
		 			$('.friendslist_wrapper').show();
		 		} else {
		 			$('.friendslist_wrapper').hide();
		 			item = $(".sidebar i");
		 			if(item.hasClass("fa-minus")) {
						$(item).removeClass("fa-minus");
						$(item).addClass("fa-plus");	
		 			}

		 		}
		 	}
		</script>
	</head>
	<body onload="javascript:duckchat.initiliaze();" onresize="show800();">
		<div class="container_wrapper">
		
			<div class="desktop_wrapper wrapper">
			</div>
			
			<div class="sidebar">
				<i class="fa fa-plus" onclick="javascript:duckchat.expand(this);"></i>
			</div>
			
			<div class="friendslist_wrapper wrapper">
				<section class="userpannerl">
					<div class="user_info">
						<span class="pro_icon"><img alt="{USER_NAME}" src="php/chat/getImage.php?id={USER_ID}"></span> 
						<form action="php/login/Login.php" method="POST">
								<span class="name">{USER_NAME}</span>
								<button type="submit">SignOut</button>
						</form>
					</div>
					<p class="friendlist_title">FRIENDS LIST</p>
					<section id="friend_list_id" class="friendlist">
					<!-- Friend List -->
					</section>
					<div class="bottom_link">
						<p></p>
						<ul class="clearfix view">
							<li onclick="javascirpt: duckchat.openFindFriends();"><i class="fa fa-user-plus"></i>add friends</li>
							<li  onclick="javascript: duckchat.showCancelConfirm(this);"><i class="fa fa-cutlery"></i>edit groups</li>
						</ul>
						<ul class="clearfix edit" style="display: none;">
							<li onclick="javascript:duckchat.confirmChanges($(this).parent());"><i class="fa fa-check"></i>confirm</li>
							<li onclick="javascript:duckchat.cancelChanges(this);"><i class="fa fa-times"></i>cancel</li>
						</ul>
					</div>
			</section>
			</div>
			
			<div class="toolbar_wrapper wrapper">
				<section id="toolbar" class="toolbar">
					<nav class="operation">
						<a title="Friends Logs" onclick="javascript:duckchat.openOperations();"></a>
					</nav>
					<!-- Tool Bar here! -->
				</section>
			</div>
			
			<div class="dialog_wrapper wrapper">
				<!-- Diag Pannel -->
			</div>
			
			<div class="popup_wrapper" style="display: none;">
					<section class="popup">
						<p>
<!-- 						Are you sure to post changes? -->
						</p>	
						<ul class="clearfix">
							<li onclick="javascript:duckchat.ok();"><i class="fa fa-check green" ></i>confirm</li>
							<li onclick="javascript:duckchat.cancel();"><i class="fa fa-times red" ></i>close</li>
						</ul>
					</section>
					<div class="overlay"></div>
			</div>
			
			<div class="loader"  style="display: none;"></div>
			
			<div class="selectmenu_wrapper" style="display: none;">
					<section class="selectmenu">
						<p>move to</p>
						<ul class="clearfix">
							<!-- SELECT MENU -->
						</ul>
					</section>
			</div>
			
			<div class="messsagebar" style="display: none;">
				<p><!-- MESSAGE BAR HERE --></p>
			</div>
		</div>
	</body>
</html>